<div class="container mt-4" style="width:500px;">

  <div class="dropdown mx-auto" style="display: inline;">
    <button class="sort btn dropdown-toggle ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown">
      排序
    </button>
    <div class="sort-down mt-2 dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/sort/house">家居物業</a>
      <a class="dropdown-item" href="/sort/trans">交通出行</a>
      <a class="dropdown-item" href="/sort/leisure">休閒娛樂</a>
      <a class="dropdown-item" href="/sort/food">餐飲食品</a>
      <a class="dropdown-item" href="/sort/other">其他</a>
      <a class="dropdown-item" href="/">所有分類</a>
    </div>
  </div>

  <div class="total-box mt-3">
    <p class="float-left">總金額：</p>
    <div class="total float-right">{{totalAmount}}</div>
  </div>

  <!--支出data-panel-->
  <div class="expense mx-auto">

    <ul class="list-group">
      {{#if records}}
      {{#each records}}
      <li class="list-group-item">
        <div class="row row-panel">

          <div class="col-1 mt-1 mr-1">
            {{#ifEquals this.category '家居物業'}}
            <i class="fas fa-home"></i>
            {{/ifEquals}}
            {{#ifEquals this.category '交通出行'}}
            <i class="fas fa-shuttle-van"></i>
            {{/ifEquals}}
            {{#ifEquals this.category '休閒娛樂'}}
            <i class="fas fa-grin-beam"></i>
            {{/ifEquals}}
            {{#ifEquals this.category '餐飲食品'}}
            <i class="fas fa-utensils"></i>
            {{/ifEquals}}
            {{#ifEquals this.category '其他'}}
            <i class="fas fa-pen"></i>
            {{/ifEquals}}
          </div>

          <div class="col-6 column">
            <div>{{this.name}}</div>
            <div class="date">{{this.date}}</div>
          </div>
          <div class="col-2 mt-1 text-center">
            {{this.amount}}
          </div>

          <div class="col-1 mt-1">
            <a href="/record/edit/{{this._id}}" class="ex-btn btn btn-info">edit</a>
          </div>

          <!--delete action需以form送出 並在delete btn上榜定form事件-->
          <form action="/record/delete/{{this._id}}" method="POST" class="col-1 ml-2 mt-1" style="display:inline;"
            onsubmit="return confirm('確認刪除此筆支出？')">
            <button type="submit" id="delete" class="ex-btn btn btn-danger">delete</button>
          </form>

        </div>
      </li>
      {{/each}}
      {{/if}}
    </ul>

    <div class="text-center">
      <a href="/record/new" class="btn-create border-0 btn btn-info my-5">新增支出</a>
    </div>

  </div>

</div>