<div class="container mt-5" style="width:500px;">

  <div class="justify-content-center row" style="width:500px;">
    {{!-- date --}}

    {{!-- date --}}
    <div class="dropdown mx-auto col-5">
      <button class="sort btn dropdown-toggle ml-2" type="button" id="dropdownMenuButton" data-toggle="dropdown">

        {{#if queryMonth}}
        {{queryMonth}}
        {{else}}
        月份
        {{/if}}
      </button>
      <div class="sort-down mt-2 dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=01">1</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=02">2</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=03">3</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=04">4</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=05">5</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=06">6</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=07">7</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=08">8</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=09">9</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=10">10</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=11">11</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=12">12</a>
        <a class="dropdown-item" href="/sort/?queryCategory={{queryCategory}}&queryMonth=all">all</a>
      </div>
    </div>
    {{!-- category --}}
    <div class="dropdown mx-auto">

      <button class="sort btn dropdown-toggle ml-2" type="button" id="dropdownMenuButton" data-toggle="dropdown">

        {{#if category}}
        {{category}}
        {{else}}
        全部類別
        {{/if}}
      </button>
      <div class="sort-down mt-2 dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/sort/?queryCategory=house&queryMonth={{queryMonth}}">家居物業</a>
        <a class="dropdown-item" href="/sort/?queryCategory=trans&queryMonth={{queryMonth}}">交通出行</a>
        <a class="dropdown-item" href="/sort/?queryCategory=leisure&queryMonth={{queryMonth}}">休閒娛樂</a>
        <a class="dropdown-item" href="/sort/?queryCategory=food&queryMonth={{queryMonth}}">餐飲食品</a>
        <a class="dropdown-item" href="/sort/?queryCategory=other&queryMonth={{queryMonth}}">其他</a>
        <a class="dropdown-item" href="/sort/?queryCategory=all&queryMonth={{queryMonth}}">全部類別</a>
      </div>
    </div>

  </div>

  <div class="total-box mt-3">
    <p class="float-left">總金額：</p>
    <div class="total float-right">{{totalAmount}}</div>
  </div>

  <!--expense data-panel-->
  <div class="expense mx-auto">

    <ul class="list-group">
      {{#if records}}
      {{#each records}}
      <li class=" list-group-item border-top-0 border-right-0 border-left-0 mb-1" style="  left: -30px;">
        <div class="row row-panel">

          <div class="col-1 mt-1 mr-1">
            {{#ifEquals this.category '家居物業'}}
            <i class="fas fa-home"></i>
            {{/ifEquals}}
            {{#ifEquals this.category '交通出行'}}
            <i class="fas fa-shuttle-van"></i>
            {{/ifEquals}}
            {{#ifEquals this.category '休閒娛樂'}}
            <i class="fas fa-grin-beam"></i>
            {{/ifEquals}}
            {{#ifEquals this.category '餐飲食品'}}
            <i class="fas fa-utensils"></i>
            {{/ifEquals}}
            {{#ifEquals this.category '其他'}}
            <i class="fas fa-pen"></i>
            {{/ifEquals}}
          </div>

          <div class="col-3 column ml-3">
            <div>{{this.name}}</div>
            <div class="date">{{this.formatData}}</div>
          </div>
          <div class="col-3 column">
            {{this.merchant}}
          </div>
          <div class="col-2 mt-1 text-center">
            {{this.amount}}
          </div>

          <div class="col-1 mt-1">
            <a href="/record/edit/{{this._id}}" class="ex-btn btn btn-info p-1">edit</a>
          </div>

          <!--delete action需以form送出 並在delete btn上榜定form事件-->
          <form action="/record/delete/{{this._id}}?_method=DELETE" method="POST" class="col-1 ml-2 mt-1"
            style="display:inline;" onsubmit="return confirm('確認刪除此筆支出？')">
            <button type="submit" id="delete" class="ex-btn btn btn-danger p-1">delete</button>
          </form>

        </div>
      </li>
      {{/each}}
      {{/if}}
    </ul>

    <div class="text-center">
      <a href="/record/new" class="btn-create border-0 btn btn-info my-5">新增支出</a>
    </div>

  </div>

</div>